.content-band-checkmarks > div > div:first-child > p:first-child {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-11);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-02-em);
    margin: 0 0 var(--spacer-element-07) 0;
}

.content-band-checkmarks > div > div:first-child > h2 {
    font-family: var(--serif-font);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1-75);
    margin: 0 0 var(--spacer-element-08) 0;
}

.content-band-checkmarks > div > div:nth-child(2) > ul {
    margin: 0;
    padding: 0;
}

.content-band-checkmarks > div > div:nth-child(2) > ul > li {
    font-family: var(--sans-serif-font-medium);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-160);
    letter-spacing: var(--letter-spacing-001-em);
    margin: 0 0 var(--spacer-element-05);
    padding: 0 var(--spacer-element-07);
    height: var(--spacer-layout-04);
    display: flex;
    align-items: center;
}

.content-band-checkmarks > div > div:nth-child(2) > ul > li::before {
    margin-right: var(--spacer-element-07);
}

.content-band-checkmarks > div .button-container {
    margin: var(--spacer-element-08) 0 0;
}


/* Tablet*/
@media (min-width: 768px) {
    .content-band-checkmarks > div > div:first-child > h2 {
        max-width: 516px;
    }

    .content-band-checkmarks > div > div:nth-child(2) > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
        column-gap: var(--gap-24);
    }

}

/* Desktop*/
@media (min-width: 1200px) {
    .content-band-checkmarks > div {
        display: flex;
        gap: var(--gap-120);
    }

    .content-band-checkmarks > div > div:first-child > p:first-child{
        font-size: var(--font-size-14);
        letter-spacing: var(--letter-spacing-02-em);
    }

    .content-band-checkmarks > div > div:first-child > h2 {
        font-size: var(--font-size-45);
        letter-spacing: var(--letter-spacing-1-75);
        max-width: 100%;
    }

    .content-band-checkmarks > div > div:nth-child(2) > ul > li {
        font-size: var(--font-size-21);
        height: 64px;
        width: 360px;
    }

    .content-band-checkmarks > div > div:nth-child(2) > ul {
        display: block;
    }

}