.section[data-theme='purple'] {
  --theme-text-primary: var(--neutral-white);
  --theme-text-secondary: var(--neutral-white);
  --theme-background-color: var(--purple-120);
  --theme-card-background-color: var(--purple-140);
  --theme-icon-01: var(--neutral-white);
  --theme-link-01: var(--neutral-white);
}

.section[data-theme='carbon'] {
  --theme-text-primary: #FFFFFF;
  --theme-text-secondary: #FFFFFF;
  --theme-background-color: #20201F;
  --theme-card-background-color: #454544;
  --theme-icon-01: #FFFFFF;
  --theme-link-01: #FFFFFF;
}

.section[data-theme='neutral-bone'] {
  --theme-text-primary: #20201F;
  --theme-text-secondary: #20201F;
  --theme-background-color: #FAF8F6;
  --theme-card-background-color: #FFFFFF;
  --theme-icon-01: #9900FF;
  --theme-link-01: #9900FF;
}

.section[data-theme='white'] {
  --theme-text-primary: #20201F;
  --theme-text-secondary: #20201F;
  --theme-background-color: #FFFFFF;
  --theme-card-background-color: #FAF8F6;
  --theme-icon-01: #9900FF;
  --theme-link-01: #9900FF;
}

.section[data-theme] {
  color: var(--theme-text-primary);
  background-color: var(--theme-background-color);
}

/* Section - Linkable cards */
main .section.linkable-cards-container {
  padding-bottom: 60px;
}

main .section > .linkable-cards-wrapper {
  padding-bottom: var(--spacer-layout-07);
}

.section[data-theme] .linkable-cards .card {
  background-color: var(--theme-card-background-color);
}

.section[data-theme] .linkable-cards .card a {
  color: var(--theme-text-primary);
}

/* Block - Linkable cards */
.linkable-cards {
  overflow: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacer-element-07);
}

.linkable-cards .card {
  position: relative;
  flex: 1;
  background: var(--neutral-bone);
  border-radius: 10px;
  min-height: 435px;
  min-width: 255px;
  max-width: 255px;
  margin: 0;
}

.linkable-cards .card a {
  display: block;
  text-decoration: none;
  border-radius: 10px;
  padding: var(--spacer-element-10) var(--spacer-element-07);
  height: 100%;
}

.linkable-cards .card a:hover {
  transition: all .2s ease-out;
  box-shadow: 2px 4px 4px 2px rgb(0 0 0 / 15%);
}

.linkable-cards .card a > p:first-of-type {
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-14);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-02-em);
  line-height: var(--line-height-120);
  margin: 0;
}

.linkable-cards .card a > h3 {
  margin: var(--spacer-element-06) 0 var(--spacer-element-07);
}

.linkable-cards .card a > p:last-of-type {
  font-size: var(--font-size-16);
  margin: var(--spacer-layout-05) 0 var(--spacer-layout-02) 0;
}

@media (min-width: 768px) {
  .linkable-cards > .linkable-cards__item {
    width: 100%;
    max-width: 360px;
    min-height: 445px;
  }
}
@media (min-width: 1200px) {

}
