/* Section - Breadcrumb */
main .section.breadcrumb-container {
  width: 100%;
  background-color: var(--neutral-40);
}

main .section.breadcrumb-container .breadcrumb-wrapper {
  padding: unset;
}

/* Block - Breadcrumb */
.breadcrumb {
  width: 100%;
}

.breadcrumb .breadcrumb__inner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: var(--spacer-layout-05);
}

.breadcrumb .breadcrumb__col .icon svg {
  display: block;
  width: 100%;
  height: var(--spacer-element-08);
}

.breadcrumb .breadcrumb__col ul {
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
}

.breadcrumb .breadcrumb__col ul li {
  list-style: none;
  color: var(--neutral-carbon);
  font-family: var(--sans-serif-font-medium);
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

.breadcrumb .breadcrumb__col ul li a {
  position: relative;
  list-style: none;
  color: var(--neutral-carbon);
  border-bottom: 0;
}

.breadcrumb .breadcrumb__col ul li a::after {
  display: inline-block;
  content: url('../../icons/caret-right.svg');
  vertical-align: middle;
  margin: 0 var(--spacer-element-03);
  width: var(--spacer-element-05);
  height: var(--spacer-element-05);
  line-height: 0;
}
